.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 2rem;
  background-color: black;
  color: white;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}

.logo_back {
  color: #61b673;
}

.navbar {
  font-size: 1.5rem;
}
