.logo-main {
  display: flex;
  justify-content: flex-start;
  padding: 30px;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  padding: 3px;
}

.logo_back {
  font-size: 2rem;
  font-weight: 700;
  color: #61b673;
  padding: 3px;
}

.navbar {
  display: flex;
  font-size: 1.5rem;
  justify-content: flex-end;
}

.main-button {
  display: flex;
  padding: 30px;
}
.play-card {
  color:white;
  border: 3px solid white;
  border-radius: 15px;
  text-align: center;
}