.logo-main {
  display: flex;
  justify-content: flex-start;
  padding: 30px;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  padding: 3px;
}

.logo_back {
  font-size: 2rem;
  font-weight: 700;
  color: #61b673;
  padding: 3px;
}

.navbar {
  display: flex;
  font-size: 1.5rem;
  justify-content: flex-end;
}

.main-button {
  display: flex;
  padding: 30px;
}
.play-card {
  color:white;
  border: 3px solid white;
  border-radius: 15px;
  text-align: center;
}


.search-bar{
  display: flex;
  justify-content: center;
}

.search-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
  margin: 1rem 0;
  padding: 10px;
  border-radius: 25px;
  background-color: #4b4b4b;
  width: 800px;
  height: 50px;
}

.search-box input{
  width: 800px;
  border:none;
  margin-left:10px;
  background-color: transparent;
  color:white;
  border-bottom: 2px solid white;
}

.search-box input::placeholder{
  color:white;
}

